.wp-languages-switcher{
    .wp-languages-switcher-list{
        margin: 0px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15px;
            margin: 0px !important;
            margin-right: 10px !important;
            &.active{
                font-weight: 700;
            }

            a{
                display: inline-block;
                margin: 0px;
                height: 15px;
                font-size: 12px;
                line-height: 15px;
                font-family: 'Inter', sans-serif;
                color: #fff;

                br{
                    display: none;
                }
                img{
                    display: none !important;
                }
            }
        }
    }
}